@import url(http://fonts.googleapis.com/css?family=Lobster);

@charset "UTF-8";a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body,html{height:100%;width:100%}body{-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-ms-font-smoothing:antialiased;-o-font-smoothing:antialiased;-moz-osx-font-smoothing:greyscale;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-o-text-size-adjust:none;margin:0;padding:0;font:12px "Helvetica Neue",Helvetica,Arial,sans-serif}hr,ol,ul{border:0;height:1px;background:#ccc}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:' ';content:none}table{border-collapse:collapse;border-spacing:0}*{margin:0;padding:0;list-style:none;-webkit-box-sizing:border-box;-moz-webkit-box-sizing:border-box;-ms-webkit-box-sizing:border-box;-o-webkit-box-sizing:border-box;box-sizing:border-box}html{-webkit-tap-highlight-color:rgba(0,0,0,0)}a,button,input,select,textarea{-webkit-tap-highlight-color:transparent}a{text-decoration:none}

	#container{
		width: 100%;
		margin: 0;
		font-weight: 300;
	}

	header{	
		width: 100%;
		height: 80px;
		border-bottom: 5px solid #000;
		background: #ECECEC;
		margin-bottom: 5px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
	}

	header h1 a{
		font-size: 3em;
  		z-index: 10000;
		font-family: 'Lobster', cursive;
		margin-top: 10px;
		margin-left: 22%;
		float: left;
	}

	.logout{
		width: 110px;
		margin-left: 20px;
		padding: 20px;
		font-size: 20px;
		float: left;
	}

	.update{
		width: 140px;
		padding: 20px;
		font-size: 20px;
		float: left;
	}

	.search{
		margin-top: 15px;
		padding: 10px;
		position: absolute;
  		right: 0;
	}

	#searchinput{
		width: 200px;
		height: 33px;
		padding: 8px;
		outline: none;
		vertical-align: bottom;
		font-size: 15px;
	}

	#searchbutton{
		width: 60px;
		height: 33px;
		padding: 8px;
		background: #888;
		color: #fff;
		outline: none;
		border: none;
		vertical-align: bottom;
		text-transform: uppercase;
	}

	.inputwrapper{
		margin: 0 auto;
		width: 1350px;
	}

	.profile{
		float: left;
		padding: 20px;
		height: 300px;
		width: 400px;
		margin-bottom: 30px;
		border: 1px solid #ccc;
		text-align: center;
		background: #ECECEC;
		border-radius: 10px;
	}

	.profilebox{
		float: left;
		height: 600px;
		width: 400px;
		margin: 120px 0px 0px 150px;
	}

	.profilepic{
		margin-top: 5px;
		height: 80px;
		border: 1px solid #000;
		border-radius: 10px;
	}

	.postpic img{
		margin-top: 5px;
		width: 100%;
		border: 1px solid #000;
		border-radius: 10px;
	}

	.profilefollow{
		height: 200px;
	}

	.userinfo{
		margin: 5px 0px 5px 0px;
		font-size: 30px;
	}

	.following{
		font-size: 30px;
	}

	.inputfield{
		float: left;
		width: 600px;
		margin: 120px 0px 20px 40px;
		padding: 35px;
		background: #ECECEC;
		border: 1px solid #ccc;
		border-radius: 10px;	
	}

	.viewuserpost{
		float: left;
		width: 600px;
		margin: 120px 0px 0px 40px;
		border: 1px solid #ccc;
		padding: 34px;
		background: #ECECEC;
		border-radius: 10px;
	}

	.viewresults{
		width: 530px;
		background: #fff;
		border: 1px solid #ccc;
		padding: 20px;
	}

	.inputarea{
		width: 530px;
		height: 100px;
		outline: none;
		padding: 10px;
		font-size: 20px;
	}
	
	.inputbutton{
		width: 530px;
		height: 50px;
		background: #888;
		color: #fff;
		text-transform: uppercase;
		outline: none;
	}

	.result{
		width: 530px;
		margin: 20px 0px 0px 0px;
		padding: 30px;
		border: 1px solid #ccc;
		background: #fff;
	}

	.emptyresult{
		font-size: 30px;
		text-align: center;
	}

	.postinfo{
		padding: 10px;
		font-size: 20px;
		font-weight: bold;
	}

	.usermessage{
		padding: 10px 0px 0px 10px;
		font-size: 15px;

	}

	.commentfield{
		padding: 10px 0px 5px 10px;
	}

	.commentinput{
		width: 360px;
		height: 25px;
		padding: 5px;
		outline: none;
	}

	.commentbutton{
		width: 70px;
		height: 25px;
	}

	.commentinfo{
		padding: 0px 0px 0px 10px; 
		font-weight: bold;
		font-size: 15px;
	}

	.comment{
		padding: 0px 0px 5px 10px;
		font-size: 15px;
	}

	.followbutton{
		margin-top: 10px;
		height: 30px;
		width: 250px;
		outline: none;
		text-transform: uppercase;
	}

	.inputupload{
		margin: 10px 0px 5px 0px;
	}

	.uploadbutton{
		width: 220px;
		outline: none;
		text-transform: uppercase;
	}

	.searchresult{
		width: 600px;
		margin: 160px auto;
		padding: 35px;
		background: #ECECEC;
		border: 1px solid #ccc;
		border-radius: 10px;	
	}

	.searchresult p{
		font-size: 30px;
	}

	.searchpic{
		height: 20px;
		margin-top: 2px;
		border-radius: 4px;
	}

	.viewfollowers{
		float: left;
		padding: 30px;
		margin: 100px;
	}

	.nofollowers {
		font-size: 20px;
	}

	.userstatistics{
		margin: 10px 0px 0px 20px;
		font-size: 20px;
	}

	.userstatistics th{
		padding: 8px;
	}

	.userstatistics tr{
		text-align: center;
	}

	#toggle{
		/*cursor: pointer;*/
	}

	/*.toggle{
		display:none;
	}*/

	.error{
		float: left;
		width: 400px;
		text-align: center;
		color: #ff0000;
		font-size: 20px;
	}

	.editprofile{
		height: 250px;
		width: 400px;
		padding: 20px;
		margin: 160px auto;
		border: 1px solid #ccc;
		text-align: center;
		background: #ECECEC;
		border-radius: 10px;
	}

	a{
		color: #000;
	}

	#count{
		font-size: 15px;
	}












