@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300);

@media only screen and (min-width: 930px) {

	#container{
		width: 100%;
		height: 100%;
		font-weight: 300;
		font-family: 'Open Sans', sans-serif;
		background: url('../img/background/m6.jpg') no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		overflow: scroll;
	}

	header{	
		width: 100%;
		height: 120px;
		border-bottom: 5px solid #000;
		background: rgb(236,236,236);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
	}

	nav {
		width: 280px;
		height:120px;
		position:absolute;
		top:0;
		left:0;
	}

	#menu {
		height:100%;
		float:left;
		padding:0;
		margin:0;
	}
	
	#menu a {
		height:100%;
		float:left;
	}

	#menu li {
		height:120px;
		line-height:120px;
		float:left;
		font-size:12px;
		font-weight:500;
		text-transform:uppercase;
		padding:0 20px;
		letter-spacing:3px;
		text-align:center;
		cursor:pointer;
		background: rgb(236,236,236);
		border-bottom: 5px solid #000;
	}
	
	#menu li:hover {
		background:#f8f8f8;
		color:#79638c;
		border-bottom: 5px solid #000;
	}

	header h1 {
		width: 400px;
		margin: 0px auto;
		text-align: center;
	}

	header h1 a{
		font-size: 5em;
  		z-index: 10000;
		font-family: 'Lobster', cursive;
		line-height: 120px;
	}

	.search{
  		width: 280px;
		height:80px;
		position:absolute;
		top:50px;
		right:0;
	}

	.searchmobile{
		display: none;
	}

	#searchinput{
		width: 200px;
		height: 33px;
		padding: 4px;
		outline: none;
		vertical-align: bottom;
		font-size: 15px;
	}

	#searchbutton{
		width: 60px;
		height: 33px;
		padding: 3px;
		border-radius: 2px;
		outline: none;
		vertical-align: bottom;
		text-transform: uppercase;
		color: #fff;
		background:#000; 
		font-weight: 500;
		border: 2px solid #000;
		letter-spacing: 1px;
		cursor: wow;

		-webkit-transition: background 0.1s ease, color 0.3 ease;
		-moz-transition: background 0.1s ease, color 0.3s ease;
		-ms-transition: background 0.1s ease, color 0.3s ease;
		-o-transition: background 0.1s ease, color 0.3s ease;
		transition: background 0.15s ease, color 0.15s ease;
	}

	section{
		padding-top: 120px;
	}

	.center {
		width:100%;
		width:924px;
		margin:0 auto;
		display:block;
		z-index:2;
	}

	.profilebox{
		float: left;
		height: 600px;
		width: 350px;
		margin: 80px 0px 0px 20px;
	}

	.followbox{
		margin: 80px auto;
		width: 520px;
		height: 100%;
	}

	.profile{
		float: left;
		padding: 20px 0px;
		height: 350px;
		width: 350px;
		margin-bottom: 30px;
		border: 1px solid #ccc;
		text-align: center;
		background: rgba(236,236,236, 0.9);
		border-radius: 10px;
	}

	.profilepic{
		margin-top: 15px;
		height: 80px;
		width: 100px;
		border: 4px solid #000;
		border-radius: 10px;
	}

	.postpic img{
		width: 100%;
		border: 3px solid #000;
		border-radius: 10px;
	}

	.profilefollow{
		height: 100%;
		width: 500px;
		padding: 20px 0px 30px 0px;
		margin-left: 20px;
	}

	.userinfo{
		margin: 5px 0px 5px 0px;
		font-size: 30px;
		font-family: 'Lobster', cursive;
	}

	.about{
		font-size: 15px;
		padding-bottom: 5px;
	}

	.about p{
		font-style: italic;
	}

	h2{
		font-weight: 400;
	}

	.following{
		width: 200px;
		float: left;
		font-size: 25px;
		padding: 10px 30px;	
		margin-left: 40px;	
		text-align: left;
	}

	.following.user{
		padding: 0px;
	}

	.following a{
		font-family: 'Lobster', cursive;	
	}

	.inputfield{
		float: left;
		width: 500px;
		margin: 80px 0px 20px 30px;
		padding: 35px;
		background: rgba(236,236,236, 0.9);
		border: 1px solid #ccc;
		border-radius: 10px;	
	}

	.postform{
		width: 430px;
		margin-bottom: 30px;
	}

	.inputarea{
		width: 430px;
		height: 100px;
		outline: none;
		padding: 10px;
		font-size: 15px;
		color: #000;
		padding: 10px;
		border-bottom: 3px solid #000;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		background: #fff;
		border-radius: 2px;
	}
	
	.inputbutton{
		width: 430px;
		height: 50px;
		color: #fff;
		background:#000; 
		text-transform: uppercase;
		outline: none;
		font-weight: 500;
		border: 2px solid #000;
		letter-spacing: 13px;
		cursor: wow;
		border-radius: 2px;

		-webkit-transition: background 0.1s ease, color 0.3 ease;
		-moz-transition: background 0.1s ease, color 0.3s ease;
		-ms-transition: background 0.1s ease, color 0.3s ease;
		-o-transition: background 0.1s ease, color 0.3s ease;
		transition: background 0.15s ease, color 0.15s ease;
	}

	button span{
		letter-spacing: 0px;
	}

	button:active{
		background: #fff;
		color: #000;
	}

	.result{
		width: 430px;
	}

	.wrapper{
		background: #fff;
		border-bottom: 3px solid #000;
		padding: 10px 20px;
		margin-bottom: 20px;
		border-radius: 2px;
	}

	.emptyresult{
		font-size: 30px;
		text-align: center;
	}

	.emptyresult span{
		font-family: 'Lobster', cursive;
	}

	.postinfo{
		font-size: 22px;
	}

	.postinfo span{
		font-family: 'Lobster', cursive;
		padding-right: 5px;
	}

	.usermessage{
		padding: 10px 0px;
		font-size: 20px;
	}

	.commentfield{
		padding: 10px 0px 5px 0px;
	}

	.commentinput{
		width: 390px;
		height: 30px;
		padding: 5px;
		outline: none;
		font-size: 12px;
		color: #000;
		padding: 10px;
		border-bottom: 3px solid #000;
		border-right: 1px solid rgba(0, 0, 0, 0.2);
		border-left: 1px solid rgba(0, 0, 0, 0.2);
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		background: #fff;
		border-radius: 2px;
	}

	.commentbutton{
		width: 390px;
		height: 20px;
		margin-top: 5px;	
		color: #fff;
		background:#000; 
		text-transform: uppercase;
		outline: none;
		font-size: 10px;
		font-weight: 500;
		border: 2px solid #000;
		letter-spacing: 13px;
		cursor: wow;
		border-radius: 2px;

		-webkit-transition: background 0.1s ease, color 0.3 ease;
		-moz-transition: background 0.1s ease, color 0.3s ease;
		-ms-transition: background 0.1s ease, color 0.3s ease;
		-o-transition: background 0.1s ease, color 0.3s ease;
		transition: background 0.15s ease, color 0.15s ease;
	}

	.commentinfo{
		padding: 0px 0px 0px 10px; 
		font-size: 15px;
	}

	.commentinfo span{
		font-family: 'Lobster', cursive;
		padding-right: 5px;
	}

	.comment{
		padding: 0px 0px 5px 10px;
		font-size: 15px;
	}

	.followbutton{
		margin-top: 10px;
		height: 30px;
		width: 300px;
		color: #fff;
		background:#000; 
		text-transform: uppercase;
		outline: none;
		font-size: 10px;
		font-weight: 500;
		border: 2px solid #000;
		letter-spacing: 13px;
		cursor: wow;
		border-radius: 2px;

		-webkit-transition: background 0.1s ease, color 0.3 ease;
		-moz-transition: background 0.1s ease, color 0.3s ease;
		-ms-transition: background 0.1s ease, color 0.3s ease;
		-o-transition: background 0.1s ease, color 0.3s ease;
		transition: background 0.15s ease, color 0.15s ease;
	}

	.inputupload{
		margin: 10px 0px;
		width: 260px;
	}

	.uploadbutton{
		width: 220px;
		outline: none;
		text-transform: uppercase;
	}

	.searchresult{
		width: 600px;
		margin: 160px auto;
		padding: 35px;
		background: rgba(236,236,236, 0.9);
		border: 1px solid #ccc;
		border-radius: 10px;
		font-size: 30px;	
	}

	.searchresult p{
		font-size: 30px;
	}

	.searchresult a{
		font-family: 'Lobster', cursive;
	}

	.searchpic{
		height: 20px;
		margin-top: 2px;
		border-radius: 4px;
		margin-left: 5px;
	}

	.viewfollowers{
		float: left;
		padding: 30px;
		margin: 100px;
	}

	.nofollowers {
		font-size: 25px;
	}

	.userstatistics{
		margin: 10px 0px 0px 20px;
		font-size: 20px;
	}

	.userstatistics th{
		padding: 8px;
	}

	.userstatistics tr{
		text-align: center;
	}

	.toggled{
		cursor: pointer;
	}

	.toggle{
		display:none;
	}

	.error{
		width: 200px;
		margin: 0px auto;
		color: #ff0000;
		font-size: 20px;
		padding-top: 15px;
	}

	.editprofile{
		height: 405px;
		width: 400px;
		padding: 20px;
		margin: 80px auto;
		border: 1px solid #ccc;
		text-align: center;
		background: rgba(236,236,236, 0.9);
		border-radius: 10px;
	}

	#uploadtext{
		width: 260px;
		height: 90px;
		margin-bottom: 5px;
		outline: none;
		font-size: 12px;
		color: #000;
		padding: 10px;
		border-bottom: 3px solid #000;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		background: #fff;
		border-radius: 2px;
	}

	#uploadbutton{
		width: 260px;
		height: 40px;
		font-size: 10px;
		background: #000;
		color: #fff;
		text-transform: uppercase;
		font-weight: 500;
		border: 2px solid #000;
		outline: none;
		letter-spacing: 15px;
		cursor: wow;
		border-radius: 2px;

		-webkit-transition: background 0.1s ease, color 0.3 ease;
		-moz-transition: background 0.1s ease, color 0.3s ease;
		-ms-transition: background 0.1s ease, color 0.3s ease;
		-o-transition: background 0.1s ease, color 0.3s ease;
		transition: background 0.15s ease, color 0.15s ease;
	}

	a{
		color: #000;
	}


	a{
		color: #000;
	}

	#count{
		font-size: 15px;
	}

	input {
		font-family: 'Lobster', cursive;
	}

	::-webkit-input-placeholder {
   		color: rgba(0, 0, 0, 0.6);
   		font-family: 'Lobster', cursive;
   		letter-spacing: 1px;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: rgba(0, 0, 0, 0.6); 
	   font-family: 'Lobster', cursive;
	   letter-spacing: 1px;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: rgba(0, 0, 0, 0.6);  
	   font-family: 'Lobster', cursive;
	   letter-spacing: 1px;
	}

	:-ms-input-placeholder {  
	   color: rgba(0, 0, 0, 0.6);  
	   font-family: 'Lobster', cursive;
	   letter-spacing: 1px;
	}

}











