@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300);

@media only screen and (max-width: 929px) {

	#container{
		width: 100%;
		height: 100%;
		font-weight: 300;
		font-family: 'Open Sans', sans-serif;
		
		-webkit-overflow-scrolling: touch;
		-moz-overflow-scrolling: touch;
		-ms-overflow-scrolling: touch;
		-o-overflow-scrolling: touch;
		overflow-scrolling: touch;
	}

	header{	
		width: 100%;
		height: 140px;
		border-bottom: 5px solid #000;
		background: #ECECEC;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
	}

	nav {
		width: 280px;
		height:80px;
		position:absolute;
		top:0;
		left:0;
	}

	nav ul {
		background: #ECECEC;
	}

	#menu {
		height:100%;
		float:left;
		padding:0;
		margin:0;
	}
	
	#menu a {
		height:100%;
		float:left;
	}

	#menu li {
		height:80px;
		line-height:80px;
		float:left;
		font-size:12px;
		font-weight:500;
		text-transform:uppercase;
		padding:0 5px;
		letter-spacing:2px;
		text-align:center;
		border-right:1px solid rgba(0,0,0,0);
		border-left:1px solid rgba(0,0,0,0);
		cursor:pointer;
	}
	
	#menu li:hover {
		background:#f8f8f8;
		color:#79638c;
	}

	header h1 {
		width: 200px;
		height: 80px;
		position:absolute;
		top:0;
		right:7px;

	}

	header h1 a{
		font-size: 2.5em;
  		z-index: 10000;
		font-family: 'Lobster', cursive;
		line-height: 80px;
	}

	.search{
		height: 30px;
		width: 400px;
		position: absolute;
		top: 80px;	
  		left:20px;
	}

	#searchinput{
		width: 280px;
		height: 33px;
		padding: 4px;
		outline: none;
		vertical-align: bottom;
		font-size: 15px;
	}

	#searchbutton{
		width: 80px;
		height: 33px;
		padding: 3px;
		border-radius: 2px;
		outline: none;
		vertical-align: bottom;
		text-transform: uppercase;
		color: #fff;
		background:#000; 
		font-weight: 500;
		border: 2px solid #000;
		letter-spacing: 1px;
		cursor: wow;

		-webkit-transition: background 0.1s ease, color 0.3 ease;
		-moz-transition: background 0.1s ease, color 0.3s ease;
		-ms-transition: background 0.1s ease, color 0.3s ease;
		-o-transition: background 0.1s ease, color 0.3s ease;
		transition: background 0.15s ease, color 0.15s ease;
	}

	section{
		padding-top: 100px;
		width: 100%;
	}

	article {
		width:100%;
		float:left;
		position:relative;
		overflow:hidden;
	}

	.center {
		width:100%;
		max-width:924px;
		margin:0 auto;
		display:block;
		position:relative;
		z-index:2;
	}

	.profilebox{
		height: 320px;
		width: 380px;
		margin: 30px auto;
	}

	.followbox{
		margin: 80px auto;
		width: 520px;
		height: 100%;
	}

	.profile{
		float: left;
		padding: 20px 0px;
		height: 320px;
		width: 380px;
		margin-bottom: 30px;
		border: 1px solid #ccc;
		text-align: center;
		background: #ECECEC;
		border-radius: 10px;
	}

	.profilepic{
		margin-top: 15px;
		height: 80px;
		width: 100px;
		border: 4px solid #000;
		border-radius: 10px;
	}

	.postpic img{
		width: 100%;
		border: 3px solid #000;
		border-radius: 10px;
	}

	.profilefollow{
		height: 100%;
		width: 500px;
		padding: 20px 0px 30px 0px;
		margin-left: 20px;
	}

	.userinfo{
		margin: 5px 0px 5px 0px;
		font-size: 30px;
		font-family: 'Lobster', cursive;
	}

	.about{
		font-size: 15px;
		padding-bottom: 5px;
	}

	.about p{
		font-style: italic;
	}

	h2{
		font-weight: 400;
	}

	.following{
		width: 200px;
		float: left;
		font-size: 25px;
		padding: 10px 30px;	
		margin-left: 40px;	
		text-align: left;
	}

	.following.user{
		padding: 0px;
	}

	.following a{
		font-family: 'Lobster', cursive;	
	}

	.inputfield{
		width: 380px;
		margin: 10px auto;	
		margin-bottom: 30px;
		padding: 25px 25px 0px 25px;
		background: #ECECEC;
		border: 1px solid #ccc;
		border-radius: 10px;	
	}

	.postform{
		width: 350px;
		margin-bottom: 30px;
	}

	.inputarea{
		width: 330px;
		height: 100px;
		outline: none;
		padding: 10px;
		font-size: 15px;
		color: #000;
		padding: 10px;
		border-bottom: 3px solid #000;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		background: #fff;
		border-radius: 2px;
	}
	
	.inputbutton{
		width: 330px;
		height: 40px;
		color: #fff;
		background:#000; 
		text-transform: uppercase;
		outline: none;
		font-weight: 500;
		font-size: 10px;	
		border: 2px solid #000;
		letter-spacing: 10px;
		cursor: wow;
		border-radius: 2px;

		-webkit-transition: background 0.1s ease, color 0.3 ease;
		-moz-transition: background 0.1s ease, color 0.3s ease;
		-ms-transition: background 0.1s ease, color 0.3s ease;
		-o-transition: background 0.1s ease, color 0.3s ease;
		transition: background 0.15s ease, color 0.15s ease;
	}

	button span{
		letter-spacing: 0px;
	}

	button:active{
		background: #fff;
		color: #000;
	}

	.result{
		width: 330px;
	}

	.wrapper{
		background: #fff;
		border-bottom: 3px solid #000;
		padding: 10px 20px;
		margin: 0px 0px 30px 0px;
		border-radius: 2px;
	}

	.emptyresult{
		font-size: 30px;
		text-align: center;
	}

	.emptyresult span{
		font-family: 'Lobster', cursive;
	}

	.postinfo{
		font-size: 22px;
	}

	.postinfo span{
		font-family: 'Lobster', cursive;
		padding-right: 5px;
	}

	.usermessage{
		padding: 10px 0px;
		font-size: 20px;
	}

	.commentfield{
		padding: 10px 0px 5px 0px;
	}

	.commentinput{
		width: 290px;
		height: 30px;
		padding: 5px;
		outline: none;
		font-size: 10px;
		color: #000;
		padding: 10px;
		border-bottom: 3px solid #000;
		border-right: 1px solid rgba(0, 0, 0, 0.2);
		border-left: 1px solid rgba(0, 0, 0, 0.2);
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		background: #fff;
		border-radius: 2px;
	}

	.commentbutton{
		width: 290px;
		height: 20px;
		margin-top: 5px;	
		color: #fff;
		background:#000; 
		text-transform: uppercase;
		outline: none;
		font-size: 10px;
		font-weight: 500;
		border: 2px solid #000;
		letter-spacing: 13px;
		cursor: wow;
		border-radius: 2px;

		-webkit-transition: background 0.1s ease, color 0.3 ease;
		-moz-transition: background 0.1s ease, color 0.3s ease;
		-ms-transition: background 0.1s ease, color 0.3s ease;
		-o-transition: background 0.1s ease, color 0.3s ease;
		transition: background 0.15s ease, color 0.15s ease;
	}

	.commentinfo{
		padding: 0px 0px 0px 10px; 
		font-weight: bold;
		font-size: 15px;
	}

	.comment{
		padding: 0px 0px 5px 10px;
		font-size: 15px;
	}

	.followbutton{
		margin-top: 10px;
		height: 30px;
		width: 300px;
		color: #fff;
		background:#000; 
		text-transform: uppercase;
		outline: none;
		font-size: 10px;
		font-weight: 500;
		border: 2px solid #000;
		letter-spacing: 13px;
		cursor: wow;
		border-radius: 2px;

		-webkit-transition: background 0.1s ease, color 0.3 ease;
		-moz-transition: background 0.1s ease, color 0.3s ease;
		-ms-transition: background 0.1s ease, color 0.3s ease;
		-o-transition: background 0.1s ease, color 0.3s ease;
		transition: background 0.15s ease, color 0.15s ease;
	}

	.inputupload{
		margin: 10px 0px;
		width: 260px;
	}

	.uploadbutton{
		width: 220px;
		outline: none;
		text-transform: uppercase;
	}

	.searchresult{
		width: 600px;
		margin: 160px auto;
		padding: 35px;
		background: #ECECEC;
		border: 1px solid #ccc;
		border-radius: 10px;
		font-size: 30px;	
	}

	.searchresult p{
		font-size: 30px;
	}

	.searchresult a{
		font-family: 'Lobster', cursive;
	}

	.searchpic{
		height: 20px;
		margin-top: 2px;
		border-radius: 4px;
		margin-left: 5px;
	}

	.viewfollowers{
		float: left;
		padding: 30px;
		margin: 100px;
	}

	.nofollowers {
		font-size: 25px;
	}

	.userstatistics{
		margin: 10px 0px 0px 20px;
		font-size: 20px;
	}

	.userstatistics th{
		padding: 8px;
	}

	.userstatistics tr{
		text-align: center;
	}

	#toggle{
		cursor: pointer;
	}

	.toggle{
		/*display:none;*/
	}

	.error{
		float: left;
		width: 400px;
		text-align: center;
		color: #ff0000;
		font-size: 20px;
	}

	.editprofile{
		height: 39	0px;
		width: 400px;
		padding: 20px;
		margin: 80px auto;
		border: 1px solid #ccc;
		text-align: center;
		background: #ECECEC;
		border-radius: 10px;
	}

	#uploadtext{
		width: 260px;
		height: 90px;
		margin-bottom: 5px;
		outline: none;
		font-size: 12px;
		color: #000;
		padding: 10px;
		border-bottom: 3px solid #000;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		background: #fff;
		border-radius: 2px;
	}

	#uploadbutton {
		width: 260px;
		height: 40px;
		font-size: 10px;
		background: #000;
		color: #fff;
		text-transform: uppercase;
		font-weight: 500;
		border: 2px solid #000;
		outline: none;
		letter-spacing: 15px;
		cursor: wow;
		border-radius: 2px;

		-webkit-transition: background 0.1s ease, color 0.3 ease;
		-moz-transition: background 0.1s ease, color 0.3s ease;
		-ms-transition: background 0.1s ease, color 0.3s ease;
		-o-transition: background 0.1s ease, color 0.3s ease;
		transition: background 0.15s ease, color 0.15s ease;
	}

	a{
		color: #000;
	}


	a{
		color: #000;
	}

	#count{
		font-size: 15px;
	}

}












